body {
  margin: 2em auto;
}

footer {
  margin-top: 2em;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

[class*='col-'] {
  margin: 1em auto;
}

.match-board {
  border: 1px solid #efefef;
}